/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* line 5, ../sass/_btn.scss */
.btn-blue {
  background-color: #327fac;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding: 20px 100px;
  line-height: 22px;
}
/* line 15, ../sass/_btn.scss */
.btn-blue:hover {
  background-color: #2e5f89;
}

/* line 19, ../sass/_btn.scss */
.btn-w-100 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 24, ../sass/_btn.scss */
.btn-ghost {
  background-color: transparent;
  border: solid 1px #327fac;
  outline: none;
  color: #858585;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  padding: 20px 100px;
  line-height: 22px;
  display: block;
}
/* line 35, ../sass/_btn.scss */
.btn-ghost:hover {
  background-color: #2e5f89;
  color: white;
}

/* line 4, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  overflow-x: hidden;
}

/* line 11, ../sass/style.scss */
.wide-container {
  width: 82%;
  margin: 0 auto;
}

/* line 15, ../sass/style.scss */
.p-relative {
  position: relative;
}

/* line 19, ../sass/style.scss */
.header__bg {
  background: url("../img/header_bg.jpg") no-repeat grey;
  background-size: cover;
}
/* line 22, ../sass/style.scss */
.header__bg.mod-small {
  padding-bottom: 25px;
}
/* line 26, ../sass/style.scss */
.header__nav {
  position: relative;
  height: 115px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 31, ../sass/style.scss */
.header__nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* line 40, ../sass/style.scss */
.header__nav ul li a {
  text-decoration: none;
  color: #efeded;
  text-transform: uppercase;
  font-size: 16px;
}
/* line 45, ../sass/style.scss */
.header__nav ul li a:hover {
  color: #b2b2b2;
}
/* line 48, ../sass/style.scss */
.header__nav ul li a img {
  height: 94px;
  width: auto;
}
/* line 53, ../sass/style.scss */
.header__nav ul li a span img {
  margin-right: 8px;
  width: auto;
  height: 16px;
  vertical-align: middle;
}
/* line 64, ../sass/style.scss */
.header__body {
  width: 100%;
  padding-top: 400px;
  padding-bottom: 505px;
  margin-bottom: -270px;
}
/* line 69, ../sass/style.scss */
.header__body h1 {
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}
/* line 76, ../sass/style.scss */
.header__body__sub-title {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}
/* line 84, ../sass/style.scss */
.header__filter {
  background-color: #1a1a1a;
  padding-top: 23px;
  padding-bottom: 15px;
}
/* line 88, ../sass/style.scss */
.header__filter button {
  height: 62px;
}
/* line 91, ../sass/style.scss */
.header__filter .input-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
/* line 98, ../sass/style.scss */
.header__filter .filter-mod-pd {
  padding: 0 5px;
}
/* line 101, ../sass/style.scss */
.header__filter__input {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: white;
  height: 62px;
  padding: 15px;
}
/* line 108, ../sass/style.scss */
.header__filter__input.input-data {
  padding-right: 40px;
}
/* line 110, ../sass/style.scss */
.header__filter__input.input-data:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: url("../img/ico_calendar.png") no-repeat;
  background-size: contain;
}
/* line 122, ../sass/style.scss */
.header__filter__input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  vertical-align: middle;
  font-size: 16px;
  color: #858585;
}
/* line 130, ../sass/style.scss */
.header__filter__input input:focus {
  border: none;
  outline: none;
}

/* line 138, ../sass/style.scss */
.cities {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}
/* line 146, ../sass/style.scss */
.cities__card {
  width: calc(100% / 3);
  background-color: grey;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
/* line 152, ../sass/style.scss */
.cities__card h2 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 158, ../sass/style.scss */
.cities__card__sub-title {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 163, ../sass/style.scss */
.cities__card__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 52px 62px;
}
/* line 171, ../sass/style.scss */
.cities__card__img {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 1px;
  padding-top: calc(75vw / 3);
}
/* line 178, ../sass/style.scss */
.cities__card__img img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 187, ../sass/style.scss */
.about-us {
  background-color: #f7f7f7;
  padding-top: 190px;
  padding-bottom: 160px;
  position: relative;
}
/* line 192, ../sass/style.scss */
.about-us__title {
  font-size: 30px;
  color: #111517;
  margin-bottom: 10px;
}
/* line 197, ../sass/style.scss */
.about-us__sub-title {
  font-size: 18px;
  color: #858585;
  margin-bottom: 5px;
  line-height: 20px;
}
/* line 203, ../sass/style.scss */
.about-us__bg {
  position: absolute;
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100% - 190px);
  left: 0;
  bottom: 0;
  opacity: 0.4;
}
/* line 213, ../sass/style.scss */
.about-us__img {
  position: absolute;
  height: calc(100% - 190px);
  width: 50%;
  top: 190px;
  right: 0;
}
/* line 219, ../sass/style.scss */
.about-us__img__point {
  width: 52%;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  max-height: 100%;
  overflow: hidden;
}
/* line 227, ../sass/style.scss */
.about-us__img__point:nth-child(2) {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
/* line 233, ../sass/style.scss */
.about-us__img__point img {
  width: 100%;
}

/* line 239, ../sass/style.scss */
.our-packages {
  background-color: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 80px;
}
/* line 243, ../sass/style.scss */
.our-packages h2 {
  width: 100%;
  text-align: center;
  color: #111517;
  font-size: 30px;
  margin-bottom: 60px;
}
/* line 250, ../sass/style.scss */
.our-packages__body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
/* line 256, ../sass/style.scss */
.our-packages__body__card {
  padding-top: 20px;
  position: relative;
  width: 350px;
  background-color: white;
  overflow: hidden;
}
/* line 263, ../sass/style.scss */
.our-packages__body__card:hover .our-packages__body__card__head__bg {
  opacity: 0.7;
}
/* line 269, ../sass/style.scss */
.our-packages__body__card.card-blue:before {
  background-color: #327fac;
}
/* line 272, ../sass/style.scss */
.our-packages__body__card.card-blue .our-packages__body__card__body .label-free:after {
  background-color: #327fac;
}
/* line 275, ../sass/style.scss */
.our-packages__body__card.card-blue .our-packages__body__card__footer {
  background-color: #327fac;
}
/* line 277, ../sass/style.scss */
.our-packages__body__card.card-blue .our-packages__body__card__footer:hover {
  background-color: #1E5A76;
}
/* line 283, ../sass/style.scss */
.our-packages__body__card.card-green:before {
  background-color: #324e38;
}
/* line 286, ../sass/style.scss */
.our-packages__body__card.card-green .our-packages__body__card__body .label-free:after {
  background-color: #324e38;
}
/* line 289, ../sass/style.scss */
.our-packages__body__card.card-green .our-packages__body__card__footer {
  background-color: #324e38;
}
/* line 291, ../sass/style.scss */
.our-packages__body__card.card-green .our-packages__body__card__footer:hover {
  background-color: #2B4331;
}
/* line 297, ../sass/style.scss */
.our-packages__body__card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: 0;
}
/* line 305, ../sass/style.scss */
.our-packages__body__card__head {
  position: relative;
  padding: 35px;
  width: 100%;
  background-color: black;
  display: inline-block;
  text-decoration: none;
}
/* line 312, ../sass/style.scss */
.our-packages__body__card__head:hover {
  text-decoration: none;
}
/* line 315, ../sass/style.scss */
.our-packages__body__card__head h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
/* line 322, ../sass/style.scss */
.our-packages__body__card__head p {
  position: relative;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 48px;
  margin-bottom: 0;
  vertical-align: bottom;
}
/* line 330, ../sass/style.scss */
.our-packages__body__card__head p u {
  font-size: 24px;
  line-height: 24px;
  vertical-align: top;
  text-decoration: none;
  font-style: normal;
}
/* line 337, ../sass/style.scss */
.our-packages__body__card__head p i {
  text-decoration: none;
  font-style: normal;
  font-size: 48px;
  line-height: 34px;
  vertical-align: bottom;
}
/* line 344, ../sass/style.scss */
.our-packages__body__card__head p span {
  font-size: 18px;
  line-height: 18px;
  vertical-align: bottom;
}
/* line 350, ../sass/style.scss */
.our-packages__body__card__head__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../img/card_bg.jpg") no-repeat;
  background-size: cover;
  opacity: 0.4;
  height: 100%;
  display: inline-block;
  z-index: 0;
}
/* line 363, ../sass/style.scss */
.our-packages__body__card__body {
  margin-top: 45px;
  margin-bottom: 35px;
  padding: 0 30px 0 10px;
  overflow: auto;
  height: 220px;
  width: calc(100% + 25px);
}
/* line 370, ../sass/style.scss */
.our-packages__body__card__body .label-free {
  position: relative;
}
/* line 372, ../sass/style.scss */
.our-packages__body__card__body .label-free:after {
  content: 'FREE';
  height: 100%;
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 3px;
  color: white;
}
/* line 383, ../sass/style.scss */
.our-packages__body__card__body__small {
  font-size: 14px;
  margin-bottom: 15px;
  color: #858585;
  display: inline-block;
  line-height: 16px;
}
/* line 390, ../sass/style.scss */
.our-packages__body__card__body__fade {
  font-size: 16px;
  color: #dddddd;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 16px;
}
/* line 397, ../sass/style.scss */
.our-packages__body__card__body__normal {
  font-size: 16px;
  color: #858585;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 16px;
}
/* line 405, ../sass/style.scss */
.our-packages__body__card__footer {
  width: 100%;
  height: 62px;
  color: white;
  padding: 20px;
  border: none;
  outline: none;
}
/* line 412, ../sass/style.scss */
.our-packages__body__card__footer:focus {
  border: none;
  outline: none;
}
/* line 416, ../sass/style.scss */
.our-packages__body__card__footer img {
  height: 24px;
  margin-right: 5px;
}
/* line 420, ../sass/style.scss */
.our-packages__body__card__footer span {
  display: inline-block;
  color: white;
}

/* line 428, ../sass/style.scss */
.footer__contact-us {
  background-color: #102143;
  padding: 80px 0;
}
/* line 431, ../sass/style.scss */
.footer__contact-us h2 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 80px;
}
/* line 438, ../sass/style.scss */
.footer__contact-us__input {
  width: 100%;
  position: relative;
  background-color: white;
  height: 52px;
  padding: 10px 20px;
  margin-bottom: 25px;
}
/* line 445, ../sass/style.scss */
.footer__contact-us__input.text-area {
  height: 205px;
}
/* line 447, ../sass/style.scss */
.footer__contact-us__input.text-area textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  color: black;
  resize: none;
}
/* line 455, ../sass/style.scss */
.footer__contact-us__input.text-area textarea:focus {
  border: none;
  outline: none;
}
/* line 461, ../sass/style.scss */
.footer__contact-us__input input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: black;
  border: none;
  outline: none;
}
/* line 468, ../sass/style.scss */
.footer__contact-us__input input:focus {
  border: none;
  outline: none;
}

/* line 475, ../sass/style.scss */
.detail {
  margin-top: 30px;
}
/* line 477, ../sass/style.scss */
.detail h2 {
  color: #858585;
  font-size: 24px;
  text-align: left;
  width: 100%;
  margin-bottom: 25px;
}
/* line 484, ../sass/style.scss */
.detail__body {
  margin-bottom: 50px;
}
/* line 486, ../sass/style.scss */
.detail__body__slider {
  position: relative;
}
/* line 488, ../sass/style.scss */
.detail__body__slider img {
  width: 100%;
}
/* line 493, ../sass/style.scss */
.detail__body__info__head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 498, ../sass/style.scss */
.detail__body__info__head__rating {
  display: inline-block;
}
/* line 500, ../sass/style.scss */
.detail__body__info__head__rating__star {
  margin-bottom: 2px;
}
/* line 502, ../sass/style.scss */
.detail__body__info__head__rating__star label {
  width: 16px;
  height: 16px;
  margin-right: 0;
  display: inline-block;
  background: url("../img/ico_star.png") no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
/* line 512, ../sass/style.scss */
.detail__body__info__head__rating p {
  color: #858585;
  font-size: 12px;
}
/* line 518, ../sass/style.scss */
.detail__body__info__head__prise p {
  font-size: 14px;
  color: #858585;
  margin-bottom: 0;
  text-align: right;
}
/* line 524, ../sass/style.scss */
.detail__body__info__head__prise span {
  font-size: 30px;
  color: #fac917;
  line-height: 12px;
  margin-bottom: 0;
}
/* line 529, ../sass/style.scss */
.detail__body__info__head__prise span u {
  font-size: 18px;
  color: #858585;
  line-height: 6px;
  vertical-align: top;
  text-decoration: none;
}
/* line 539, ../sass/style.scss */
.detail__body__info__body {
  margin-bottom: 45px;
}
/* line 541, ../sass/style.scss */
.detail__body__info__body h3 {
  color: #858585;
  font-size: 18px;
  width: 100%;
  margin-bottom: 20px;
}
/* line 547, ../sass/style.scss */
.detail__body__info__body a {
  text-decoration: underline;
}
/* line 549, ../sass/style.scss */
.detail__body__info__body a:hover {
  color: #505050;
}
/* line 553, ../sass/style.scss */
.detail__body__info__body__point {
  color: #858585;
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
  display: block;
}
/* line 562, ../sass/style.scss */
.detail__body__info__body__address:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/ico_address.png") no-repeat center;
  background-size: auto 100%;
}
/* line 575, ../sass/style.scss */
.detail__body__info__body__date:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/ico_calendar_blue.png") no-repeat center;
  background-size: auto 100%;
}
/* line 588, ../sass/style.scss */
.detail__body__info__body__included:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/ico_include.png") no-repeat center;
  background-size: auto 100%;
}
/* line 601, ../sass/style.scss */
.detail__body__info__body__from:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/ico_plane.png") no-repeat center;
  background-size: auto 100%;
}
/* line 613, ../sass/style.scss */
.detail__body__info__body__par {
  padding-left: 0;
}

/* line 621, ../sass/style.scss */
.air-patch {
  margin: 40px auto 80px auto;
  width: 80%;
  position: relative;
}
/* line 625, ../sass/style.scss */
.air-patch__line {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 1px;
  position: relative;
  border-bottom: dashed 1px #8e8e8e;
  width: 100%;
}
/* line 634, ../sass/style.scss */
.air-patch__line__point {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 1px;
  background-color: #8e8e8e;
}
/* line 642, ../sass/style.scss */
.air-patch__line__point.plane-left:before {
  background: url("../img/ico_plane.png") no-repeat;
  background-size: contain;
}
/* line 648, ../sass/style.scss */
.air-patch__line__point.plane-right:before {
  background: url("../img/ico_plane_right.png") no-repeat;
  background-size: contain;
}
/* line 653, ../sass/style.scss */
.air-patch__line__point:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 22px;
  height: 22px;
}
/* line 662, ../sass/style.scss */
.air-patch__line__point:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 1px #8e8e8e;
}
/* line 673, ../sass/style.scss */
.air-patch__line__point span {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 100%);
  color: #858585;
  font-size: 14px;
  white-space: nowrap;
}

/* line 685, ../sass/style.scss */
.about-info {
  padding: 0 55px;
  margin-bottom: 30px;
}
/* line 688, ../sass/style.scss */
.about-info__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 45px;
}
/* line 695, ../sass/style.scss */
.about-info__head a {
  font-size: 16px;
  color: #8e8e8e;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
}
/* line 701, ../sass/style.scss */
.about-info__head a:hover {
  color: #327fac;
  text-decoration: none;
}
/* line 705, ../sass/style.scss */
.about-info__head a.active {
  color: #327fac;
}
/* line 709, ../sass/style.scss */
.about-info__head label {
  height: 28px;
  width: 1px;
  background-color: #8e8e8e;
  display: inline-block;
  margin-bottom: 0;
}
/* line 718, ../sass/style.scss */
.about-info__body__title {
  color: #8e8e8e;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
/* line 724, ../sass/style.scss */
.about-info__body__sub-title {
  color: #8e8e8e;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* line 730, ../sass/style.scss */
.about-info__body__day {
  color: #8e8e8e;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 15px;
}
/* line 736, ../sass/style.scss */
.about-info__body__par {
  color: #8e8e8e;
  font-size: 16px;
  margin-bottom: 25px;
}
/* line 742, ../sass/style.scss */
.about-info__footer {
  border-top: solid 1px #8e8e8e;
  border-bottom: solid 1px #8e8e8e;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
/* line 750, ../sass/style.scss */
.about-info__footer__point {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 20px;
}
/* line 755, ../sass/style.scss */
.about-info__footer__point__name {
  text-transform: uppercase;
  color: rgba(133, 133, 133, 0.6);
  font-size: 14px;
  line-height: 16px;
  width: 35%;
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
}
/* line 765, ../sass/style.scss */
.about-info__footer__point__value {
  display: inline-block;
  width: 65%;
  color: #858585;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  margin-bottom: 0;
}

/* line 777, ../sass/style.scss */
.reviews {
  margin-bottom: 90px;
}
/* line 779, ../sass/style.scss */
.reviews__video {
  position: relative;
  margin-bottom: 40px;
}
/* line 782, ../sass/style.scss */
.reviews__video img {
  width: 100%;
}
/* line 786, ../sass/style.scss */
.reviews__body {
  padding: 0 55px;
}
/* line 788, ../sass/style.scss */
.reviews__body__rating {
  padding-bottom: 35px;
  border-bottom: solid 1px #cdcdcd;
  margin-bottom: 50px;
}
/* line 792, ../sass/style.scss */
.reviews__body__rating__head {
  margin-bottom: 35px;
}
/* line 794, ../sass/style.scss */
.reviews__body__rating__head p {
  color: #858585;
  font-size: 18px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 0;
}
/* line 801, ../sass/style.scss */
.reviews__body__rating__head div {
  display: inline-block;
}
/* line 803, ../sass/style.scss */
.reviews__body__rating__head div label {
  display: inline-block;
  margin-bottom: 0;
  height: 14px;
  width: 14px;
  background: url("../img/ico_star.png") no-repeat;
  background-size: contain;
}
/* line 813, ../sass/style.scss */
.reviews__body__rating__body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 70px;
}
/* line 820, ../sass/style.scss */
.reviews__body__rating__body__point {
  position: relative;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  background-color: white;
  border: solid 5px #ecebeb;
}
/* line 827, ../sass/style.scss */
.reviews__body__rating__body__point.all-reviews {
  height: 120px;
  width: 120px;
}
/* line 830, ../sass/style.scss */
.reviews__body__rating__body__point.all-reviews p {
  position: relative;
  white-space: normal;
  top: 0;
  transform: translate(-50%, 0%);
  margin-bottom: 0;
  width: 70%;
  margin-top: 15px;
}
/* line 839, ../sass/style.scss */
.reviews__body__rating__body__point.all-reviews span {
  position: relative;
  top: 0;
  transform: translate(-50%, 0%);
}
/* line 845, ../sass/style.scss */
.reviews__body__rating__body__point:before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
  left: -5px;
  top: -5px;
  border-right: solid 5px #3682ad;
  border-bottom: solid 5px transparent;
  border-left: solid 5px transparent;
  border-top: solid 5px transparent;
}
/* line 858, ../sass/style.scss */
.reviews__body__rating__body__point p {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: #858585;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
}
/* line 869, ../sass/style.scss */
.reviews__body__rating__body__point span {
  position: absolute;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: #fac917;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 883, ../sass/style.scss */
.reviews__body__comments {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #cdcdcd;
}
/* line 892, ../sass/style.scss */
.reviews__body__comments__avatar {
  display: inline-block;
  width: 10%;
}
/* line 895, ../sass/style.scss */
.reviews__body__comments__avatar p {
  font-size: 14px;
  color: #858585;
}
/* line 899, ../sass/style.scss */
.reviews__body__comments__avatar__img {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #3d85b0;
  position: relative;
  margin-bottom: 10px;
}
/* line 907, ../sass/style.scss */
.reviews__body__comments__avatar__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* line 915, ../sass/style.scss */
.reviews__body__comments__avatar__img p {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  margin-bottom: 0;
  text-align: center;
}
/* line 928, ../sass/style.scss */
.reviews__body__comments__wrap {
  display: inline-block;
  width: 90%;
}
/* line 932, ../sass/style.scss */
.reviews__body__comments__head {
  margin-bottom: 20px;
}
/* line 934, ../sass/style.scss */
.reviews__body__comments__head label {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-bottom: 0;
  background: url("../img/ico_star.png") no-repeat;
  background-size: contain;
}
/* line 942, ../sass/style.scss */
.reviews__body__comments__head p {
  color: #858585;
  font-size: 12px;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 0;
}
/* line 949, ../sass/style.scss */
.reviews__body__comments__head__date {
  float: right;
}
/* line 953, ../sass/style.scss */
.reviews__body__comments__body {
  font-size: 16px;
  color: #858585;
}
/* line 956, ../sass/style.scss */
.reviews__body__comments__body p {
  margin-bottom: 5px;
}
/* line 960, ../sass/style.scss */
.reviews__body__comments__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* line 964, ../sass/style.scss */
.reviews__body__comments__footer a {
  font-size: 14px;
  color: #fac917;
  position: relative;
  padding-right: 20px;
  display: inline-block;
}
/* line 970, ../sass/style.scss */
.reviews__body__comments__footer a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 14px;
  transform: translateY(-50%);
  width: 14px;
  background: url("../img/ico_arrow.png") no-repeat center;
  background-size: contain;
}
/* line 981, ../sass/style.scss */
.reviews__body__comments__footer a:hover {
  text-decoration: underline;
}

/* line 989, ../sass/style.scss */
.category {
  background-color: #f7f7f7;
  padding: 15px 0;
}
/* line 992, ../sass/style.scss */
.category__filter {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
/* line 1001, ../sass/style.scss */
.category__filter__text p {
  font-size: 16px;
  color: #858585;
  margin-bottom: 0;
}
/* line 1008, ../sass/style.scss */
.category__filter__drop span {
  font-size: 16px;
  color: #858585;
  margin-right: 10px;
}
/* line 1013, ../sass/style.scss */
.category__filter__drop a {
  display: inline-block;
  background-color: white;
  font-size: 18px;
  color: #858585;
  padding: 0 80px;
  height: 62px;
  line-height: 62px;
  position: relative;
}
/* line 1022, ../sass/style.scss */
.category__filter__drop a:hover {
  text-decoration: none;
  color: black;
}
/* line 1026, ../sass/style.scss */
.category__filter__drop a:before {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/ico_drop.png") no-repeat center;
  background-size: contain;
}
/* line 1039, ../sass/style.scss */
.category__filter__drop-down {
  display: none;
}
/* line 1043, ../sass/style.scss */
.category__body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
/* line 1049, ../sass/style.scss */
.category__body__item {
  width: calc(50% - 4px);
  margin-bottom: 10px;
}
/* line 1052, ../sass/style.scss */
.category__body__item__card {
  background-color: white;
  padding: 12px;
  position: relative;
}
/* line 1056, ../sass/style.scss */
.category__body__item__card__img {
  position: relative;
  width: 100%;
}
/* line 1059, ../sass/style.scss */
.category__body__item__card__img img {
  width: 100%;
  height: auto;
}
/* line 1064, ../sass/style.scss */
.category__body__item__card__head {
  position: absolute;
  left: 26px;
  top: 22px;
  width: calc(100% - 52px);
}
/* line 1069, ../sass/style.scss */
.category__body__item__card__head p {
  margin-bottom: 0;
  color: white;
  font-size: 12px;
}
/* line 1075, ../sass/style.scss */
.category__body__item__card__head__rating label {
  margin-bottom: 0;
  display: inline-block;
  height: 14px;
  width: 14px;
  background: url("../img/ico_star.png") no-repeat center;
  background-size: contain;
}
/* line 1085, ../sass/style.scss */
.category__body__item__card__info {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: calc(100% - 24px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 12px 0 18px 0;
}
/* line 1095, ../sass/style.scss */
.category__body__item__card__info.card-blue {
  background-color: rgba(50, 127, 172, 0.9);
}
/* line 1098, ../sass/style.scss */
.category__body__item__card__info.card-green {
  background-color: rgba(50, 78, 56, 0.9);
}
/* line 1101, ../sass/style.scss */
.category__body__item__card__info__title {
  color: white;
  font-size: 18px;
  width: 100%;
  margin-bottom: 20px;
}
/* line 1107, ../sass/style.scss */
.category__body__item__card__info a {
  text-decoration: underline;
}
/* line 1109, ../sass/style.scss */
.category__body__item__card__info a:hover {
  color: #b0b0b0;
}
/* line 1113, ../sass/style.scss */
.category__body__item__card__info__point {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
  display: inline-block;
  width: 49%;
}
/* line 1123, ../sass/style.scss */
.category__body__item__card__info__address:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/ico_address_w.png") no-repeat center;
  background-size: auto 100%;
}
/* line 1136, ../sass/style.scss */
.category__body__item__card__info__date:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/ico_calendar_w.png") no-repeat center;
  background-size: auto 100%;
}
/* line 1149, ../sass/style.scss */
.category__body__item__card__info__included:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/ico_include_w.png") no-repeat center;
  background-size: auto 100%;
}
/* line 1162, ../sass/style.scss */
.category__body__item__card__info__from:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/ico_plane_w.png") no-repeat center;
  background-size: auto 100%;
}
/* line 1175, ../sass/style.scss */
.category__body__item__card__info__prise p {
  font-size: 14px;
  color: white;
  margin-bottom: 0;
  text-align: right;
}
/* line 1181, ../sass/style.scss */
.category__body__item__card__info__prise span {
  font-size: 30px;
  color: #fac917;
  line-height: 12px;
  margin-bottom: 0;
  text-align: right;
  width: 100%;
  display: inline-block;
}
/* line 1189, ../sass/style.scss */
.category__body__item__card__info__prise span u {
  font-size: 18px;
  color: white;
  line-height: 6px;
  vertical-align: top;
  text-decoration: none;
}
/* line 1198, ../sass/style.scss */
.category__body__item__card__info__link {
  white-space: nowrap;
  text-decoration: none !important;
  color: #fac917;
  font-size: 14px;
  position: relative;
  padding-right: 20px;
  display: inline-block;
  text-align: right;
  width: 100%;
}
/* line 1208, ../sass/style.scss */
.category__body__item__card__info__link:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  height: 14px;
  transform: translateY(-50%);
  width: 14px;
  background: url("../img/ico_arrow.png") no-repeat center;
  background-size: contain;
}
/* line 1219, ../sass/style.scss */
.category__body__item__card__info__link:hover {
  color: #fac917 !important;
  text-decoration: underline !important;
}
/* line 1224, ../sass/style.scss */
.category__body__item__card__info__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

/* line 1235, ../sass/style.scss */
.owl-nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* line 1241, ../sass/style.scss */
.owl-nav button {
  position: absolute;
  top: -25px;
}
/* line 1244, ../sass/style.scss */
.owl-nav button span {
  font-size: 50px;
  color: white;
}
/* line 1249, ../sass/style.scss */
.owl-nav .owl-prev {
  left: 10px;
  right: auto;
}
/* line 1253, ../sass/style.scss */
.owl-nav .owl-next {
  right: 10px;
  left: auto;
}

/* line 1258, ../sass/style.scss */
.owl-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
/* line 1263, ../sass/style.scss */
.owl-dots button.owl-dot {
  margin: 0 5px;
  height: 6px;
  width: 6px;
  background-color: #d2d2d2 !important;
  border-radius: 50%;
}
/* line 1269, ../sass/style.scss */
.owl-dots button.owl-dot.active {
  background-color: #327fac !important;
}

@media screen and (max-width: 1199px) {
  /* line 2, ../sass/_media.scss */
  .wide-container {
    width: 90%;
  }

  /* line 5, ../sass/_media.scss */
  .about-us {
    padding-top: 120px;
    padding-bottom: 90px;
  }

  /* line 9, ../sass/_media.scss */
  .about-us__img {
    height: calc(100% - 120px);
    top: 120px;
  }

  /* line 13, ../sass/_media.scss */
  .about-us__bg {
    height: calc(100% - 120px);
  }

  /* line 16, ../sass/_media.scss */
  .header__body {
    padding-top: 120px;
    padding-bottom: 330px;
    margin-bottom: -170px;
  }

  /* line 21, ../sass/_media.scss */
  .cities__card__body {
    padding: 40px 38px;
  }

  /* line 24, ../sass/_media.scss */
  .category__body__item__card__info__point {
    font-size: 12px;
  }

  /* line 27, ../sass/_media.scss */
  .category__body__item__card__info {
    position: relative;
    left: 0;
    top: -1px;
    bottom: auto;
    width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 991px) {
  /* line 37, ../sass/_media.scss */
  .category__body__item__card__info__wrap {
    flex-direction: row;
    align-items: flex-end;
  }

  /* line 41, ../sass/_media.scss */
  .category__body__item__card__info__prise {
    width: 50%;
    text-align: left;
  }

  /* line 45, ../sass/_media.scss */
  .category__body__item__card__info__prise span, .category__body__item__card__info__prise p {
    text-align: left;
  }

  /* line 48, ../sass/_media.scss */
  .cities__card__body {
    padding: 25px 22px;
  }

  /* line 51, ../sass/_media.scss */
  .header__nav ul li a img {
    height: 70px;
  }

  /* line 54, ../sass/_media.scss */
  .about-us__img {
    width: 42%;
  }

  /* line 57, ../sass/_media.scss */
  .about-us {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  /* line 61, ../sass/_media.scss */
  .about-us__bg {
    height: calc(100% - 80px);
  }

  /* line 64, ../sass/_media.scss */
  .about-us__img {
    height: calc(100% - 80px);
    top: 80px;
  }

  /* line 68, ../sass/_media.scss */
  .about-us__img__point {
    width: 58%;
  }

  /* line 71, ../sass/_media.scss */
  .our-packages__body__card {
    width: 290px;
  }

  /* line 74, ../sass/_media.scss */
  .our-packages__body__card__head {
    padding: 35px 10px;
  }

  /* line 77, ../sass/_media.scss */
  .reviews__body {
    padding: 0;
  }

  /* line 80, ../sass/_media.scss */
  .reviews__body__rating__body {
    padding: 0;
  }

  /* line 83, ../sass/_media.scss */
  .about-info {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 88, ../sass/_media.scss */
  .category__body__item {
    width: 100%;
  }

  /* line 91, ../sass/_media.scss */
  .category__body__item__card__info {
    position: absolute;
    left: 12px;
    bottom: 12px;
    top: auto;
    width: calc(100% - 24px);
  }

  /* line 98, ../sass/_media.scss */
  .category__filter__text {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  /* line 103, ../sass/_media.scss */
  .category__filter {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* line 107, ../sass/_media.scss */
  .header__nav ul li a img {
    height: 52px;
  }

  /* line 110, ../sass/_media.scss */
  .header__nav ul li a {
    font-size: 12px;
  }

  /* line 113, ../sass/_media.scss */
  .header__nav ul li a span img {
    height: 13px;
    margin-right: 4px;
  }

  /* line 117, ../sass/_media.scss */
  .header__body h1 {
    font-size: 48px;
  }

  /* line 120, ../sass/_media.scss */
  .header__body {
    padding-top: 30px;
    padding-bottom: 150px;
    margin-bottom: -90px;
  }

  /* line 125, ../sass/_media.scss */
  .header__filter__input {
    margin-bottom: 10px;
  }

  /* line 128, ../sass/_media.scss */
  .cities__card__body {
    padding: 18px;
  }

  /* line 131, ../sass/_media.scss */
  .cities__card__sub-title {
    font-size: 16px;
  }

  /* line 134, ../sass/_media.scss */
  .about-us__img__point {
    width: 85%;
  }

  /* line 137, ../sass/_media.scss */
  .our-packages {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  /* line 141, ../sass/_media.scss */
  .our-packages__body__card {
    width: 48%;
  }

  /* line 144, ../sass/_media.scss */
  .footer__contact-us {
    padding: 40px 0;
  }

  /* line 147, ../sass/_media.scss */
  .footer__contact-us h2 {
    margin-bottom: 40px;
  }

  /* line 150, ../sass/_media.scss */
  .about-info__head a {
    font-size: 14px;
  }

  /* line 153, ../sass/_media.scss */
  .reviews__body__rating__body {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  /* line 157, ../sass/_media.scss */
  .reviews__body__rating__body__point {
    margin: 20px 30px;
  }

  /* line 160, ../sass/_media.scss */
  .reviews__body__comments__avatar {
    width: 15%;
  }

  /* line 163, ../sass/_media.scss */
  .reviews__body__comments__wrap {
    width: 85%;
  }
}
@media screen and (max-width: 574px) {
  /* line 168, ../sass/_media.scss */
  .category__filter__drop span {
    display: block;
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  /* line 174, ../sass/_media.scss */
  .category__body__item__card__info {
    position: relative;
    left: 0;
    top: -1px;
    bottom: auto;
    width: 100%;
  }

  /* line 181, ../sass/_media.scss */
  .category__filter__drop {
    width: 100%;
    padding: 0 15px;
  }

  /* line 185, ../sass/_media.scss */
  .category__filter__drop a {
    width: 100%;
  }

  /* line 188, ../sass/_media.scss */
  .header__nav ul {
    flex-direction: column;
  }

  /* line 191, ../sass/_media.scss */
  .header__nav ul li {
    order: 1;
    margin-bottom: 2px;
  }

  /* line 195, ../sass/_media.scss */
  li.logo-tip {
    order: 0 !important;
  }

  /* line 198, ../sass/_media.scss */
  .header__nav {
    height: auto;
  }

  /* line 201, ../sass/_media.scss */
  .header__body h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }

  /* line 205, ../sass/_media.scss */
  .header__body__sub-title {
    font-size: 16px;
  }

  /* line 208, ../sass/_media.scss */
  .wide-container {
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  /* line 212, ../sass/_media.scss */
  .header__filter .filter-mod-pd {
    padding: 0 15px;
  }

  /* line 215, ../sass/_media.scss */
  .cities {
    flex-wrap: wrap;
  }

  /* line 218, ../sass/_media.scss */
  .cities__card {
    width: 100%;
  }

  /* line 221, ../sass/_media.scss */
  .cities__card__img {
    padding-top: calc(100vw / 3);
  }

  /* line 224, ../sass/_media.scss */
  .cities__card__img img {
    top: auto;
    bottom: 0;
  }

  /* line 228, ../sass/_media.scss */
  .about-us__img {
    display: none;
  }

  /* line 231, ../sass/_media.scss */
  .our-packages__body {
    flex-wrap: wrap;
  }

  /* line 234, ../sass/_media.scss */
  .our-packages__body__card {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 238, ../sass/_media.scss */
  .about-info__head {
    flex-direction: column;
  }

  /* line 241, ../sass/_media.scss */
  .about-info__head a {
    font-size: 20px;
    margin-bottom: 5px;
  }

  /* line 245, ../sass/_media.scss */
  .about-info__head label {
    height: 1px;
    width: 28px;
    margin-bottom: 5px;
  }

  /* line 250, ../sass/_media.scss */
  .about-info__body {
    padding: 0 15px;
  }

  /* line 253, ../sass/_media.scss */
  .about-info__footer__point__name {
    width: 50%;
  }

  /* line 256, ../sass/_media.scss */
  .about-info__footer__point__value {
    width: 50%;
  }

  /* line 259, ../sass/_media.scss */
  .reviews__body__rating__body__point {
    width: 170px;
    height: 170px;
    margin: 30px auto;
  }

  /* line 264, ../sass/_media.scss */
  .reviews__body__rating__body__point.all-reviews {
    height: 230px;
    width: 230px;
  }

  /* line 268, ../sass/_media.scss */
  .reviews__body__rating__body__point span {
    font-size: 44px;
  }

  /* line 271, ../sass/_media.scss */
  .reviews__body__rating__body__point p {
    font-size: 20px;
    top: -15px;
  }

  /* line 275, ../sass/_media.scss */
  .reviews__body__rating__body__point.all-reviews p {
    margin-top: 75px;
  }

  /* line 278, ../sass/_media.scss */
  .reviews__body__rating__head p {
    font-size: 28px;
  }

  /* line 281, ../sass/_media.scss */
  .reviews__body__rating__head div label {
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }

  /* line 286, ../sass/_media.scss */
  .reviews__body__comments {
    flex-wrap: wrap;
  }

  /* line 289, ../sass/_media.scss */
  .reviews__body__comments__avatar {
    width: 100%;
  }

  /* line 292, ../sass/_media.scss */
  .reviews__body__comments__wrap {
    width: 100%;
  }

  /* line 295, ../sass/_media.scss */
  .reviews__body__comments__avatar__img {
    display: inline-block;
    height: 82px;
    width: 82px;
    margin-right: 20px;
  }

  /* line 301, ../sass/_media.scss */
  .reviews__body__comments__avatar p {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
  }

  /* line 306, ../sass/_media.scss */
  .reviews__body__comments__head p {
    display: block;
    margin-left: 0;
  }

  /* line 310, ../sass/_media.scss */
  .reviews__body__comments__head__date {
    float: none;
  }
}
