@media screen and (max-width: 1199px){
  .about-us{
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .about-us__img{
    height: calc(100% - 120px);
    top: 120px;
  }
  .about-us__bg{
    height: calc(100% - 120px);
  }
  .header__body{
    padding-top: 120px;
    padding-bottom: 330px;
    margin-bottom: -170px;
  }
  .cities__card__body{
    padding: 40px 38px;
  }
  .category__body__item__card__info__point{
    font-size: 12px;
  }
  .category__body__item__card__info{
    position: relative;
    left: 0;
    top: -1px;
    bottom: auto;
    width: 100%;
    flex-wrap: wrap;
  }
  .wide-container{
    width: 100%;
    min-width: auto;
  }
}
@media screen and (max-width: 991px){
  .category__body__item__card__info__wrap{
    flex-direction: row;
    align-items: flex-end;
  }
  .category__body__item__card__info__prise{
    width: 50%;
    text-align: left;
  }
  .category__body__item__card__info__prise span,.category__body__item__card__info__prise p{
    text-align: left;
  }
  .cities__card__body{
    padding: 25px 22px;
  }
  .header__nav ul li a img{
    height: 70px;
  }
  .about-us__img{
    width: 42%;
  }
  .about-us{
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .about-us__bg{
    height: calc(100% - 80px);
  }
  .about-us__img{
    height: calc(100% - 80px);
    top: 80px;
  }
  .about-us__img__point{
    width: 58%;
  }
  .our-packages__body__card{
    width: 290px;
  }
  .our-packages__body__card__head{
    padding: 35px 10px;
  }
  .reviews__body{
    padding: 0;
  }
  .reviews__body__rating__body{
    padding: 0;
  }
  .about-info{
    padding: 0;
  }
}
@media screen and (max-width: 767px){
  .category__body__item{
    width: 100%;
  }
  .category__body__item__card__info{
    position: absolute;
    left: 12px;
    bottom: 12px;
    top: auto;
    width: calc(100% - 24px);
  }
  .category__filter__text{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .category__filter{
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__nav ul li a img{
    height: 52px;
  }
  .header__nav ul li a{
    font-size: 12px;
  }
  .header__nav ul li a span img{
    height: 13px;
    margin-right: 4px;
  }
  .header__body h1{
    font-size: 48px;
  }
  .header__body{
    padding-top: 30px;
    padding-bottom: 150px;
    margin-bottom: -90px;
  }
  .header__filter__input{
    margin-bottom: 10px;
  }
  .cities__card__body{
    padding: 18px;
  }
  .cities__card__sub-title{
    font-size: 16px;
  }
  .about-us__img__point{
    width: 85%;
  }
  .our-packages{
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .our-packages__body__card{
    width: 48%;
  }
  .footer__contact-us{
    padding: 40px 0;
  }
  .footer__contact-us h2{
    margin-bottom: 40px;
  }
  .about-info__head a{
    font-size: 14px;
  }
  .reviews__body__rating__body{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .reviews__body__rating__body__point{
    margin: 20px 30px;
  }
  .reviews__body__comments__avatar{
    width: 15%;
  }
  .reviews__body__comments__wrap{
    width: 85%;
  }
}
@media screen and (max-width: 574px){
  .category__filter__drop span{
    //display: block;
    //margin-right: 0;
    //text-align: center;
    //margin-bottom: 10px;
  }
  .category__body__item__card__info{
    position: relative;
    left: 0;
    top: -1px;
    bottom: auto;
    width: 100%;
  }
  .category__filter__drop{
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .category__filter__drop a{
    padding: 0px 50px;
  }
  .header__nav ul{
    flex-direction: column;
  }
  .header__nav ul li{
    order: 1;
    margin-bottom: 2px;
  }
  li.logo-tip{
   order: 0!important;
  }
  .header__nav{
    height: auto;
  }
  .header__body h1{
    font-size: 38px;
    margin-bottom: 10px;
  }
  .header__body__sub-title{
    font-size: 16px;
  }
  .wide-container{
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .header__filter .filter-mod-pd{
    padding: 0 15px;
  }
  .cities{
    flex-wrap: wrap;
  }
  .cities__card{
    width: 100%;
  }
  .cities__card__img{
    padding-top: calc(100vw / 3);
  }
  .cities__card__img img{
    top: auto;
    bottom: 0;
  }
  .about-us__img{
    display: none;
  }
  .our-packages__body{
    flex-wrap: wrap;
  }
  .our-packages__body__card{
    width: 100%;
    margin-bottom: 20px;
  }
  .about-info__head{
    flex-direction: column;
  }
  .about-info__head a{
    font-size: 20px;
    margin-bottom: 5px;
  }
  .about-info__head label{
    height: 1px;
    width: 28px;
    margin-bottom: 5px;
  }
  .about-info__body{
    padding: 0 15px;
  }
  .about-info__footer__point__name{
    width: 50%;
  }
  .about-info__footer__point__value{
    width: 50%;
  }
  .reviews__body__rating__body__point{
    width: 170px;
    height: 170px;
    margin: 30px auto;
  }
  .reviews__body__rating__body__point.all-reviews{
    height: 230px;
    width: 230px;
  }
  .reviews__body__rating__body__point span{
    font-size: 44px;
  }
  .reviews__body__rating__body__point p{
    font-size: 20px;
    top: -15px;
  }
  .reviews__body__rating__body__point.all-reviews p{
    margin-top: 75px;
  }
  .reviews__body__rating__head p{
    font-size: 28px;
  }
  .reviews__body__rating__head div label{
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
  .reviews__body__comments{
    flex-wrap: wrap;
  }
  .reviews__body__comments__avatar{
    width: 100%;
  }
  .reviews__body__comments__wrap{
    width: 100%;
  }
  .reviews__body__comments__avatar__img{
    display: inline-block;
    height: 82px;
    width: 82px;
    margin-right: 20px;
  }
  .reviews__body__comments__avatar p{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
  }
  .reviews__body__comments__head p{
    display: block;
    margin-left: 0;
  }
  .reviews__body__comments__head__date{
    float: none;
  }
}